/*******************************************************************************
* light theme
*
* all the variables used for light theme coloring
*/
html[data-theme="light"] {
  /*****************************************************************************
  * colors
  */

  // main colors
  --pst-color-primary: rgb(19, 6, 84);
  --pst-color-success: rgb(40, 167, 69);
  --pst-color-info: rgb(0, 123, 255);
  --pst-color-warning: rgb(255, 193, 7);
  --pst-color-danger: rgb(220, 53, 69);
  --pst-color-text-base: rgb(51, 51, 51);
  --pst-color-text-muted: rgb(77, 77, 77);
  --pst-color-background: rgb(255, 255, 255);
  --pst-color-on-background: rgb(255, 255, 255);
  --pst-color-surface: rgb(240, 240, 240);
  --pst-color-on-surface: rgb(255, 255, 238);
  --pst-color-border: rgb(201, 201, 201);
  --pst-color-shadow: rgb(216, 216, 216);

  // links
  --pst-color-link: rgb(0, 91, 129);
  --pst-color-link-hover: rgb(227, 46, 0);
  --pst-color-target: rgb(251, 229, 78);

  // inline code
  --pst-color-inline-code: rgb(232, 62, 140);

  // targeted viewcode
  --pst-color-viewcode-target-border: rgb(170, 204, 153);
  --pst-color-viewcode-target-background: rgb(244, 222, 191);

  // alert
  // higher contrast of links in info boxes
  --pst-color-alert-link: rgb(232, 62, 140);

  // blockquote
  --pst-color-blockquote-border: rgb(221, 221, 221);
}

/*******************************************************************************
* dark theme
*
* all the variables used for dark theme coloring
*/
html[data-theme="dark"] {
  /*****************************************************************************
  * colors
  */

  // main colors
  --pst-color-primary: rgb(76, 145, 219);
  --pst-color-success: rgb(72, 135, 87);
  --pst-color-info: rgb(64, 125, 191);
  --pst-color-warning: rgb(193, 162, 69);
  --pst-color-danger: rgb(203, 70, 83);
  --pst-color-text-base: rgb(201, 209, 217);
  --pst-color-text-muted: rgb(192, 192, 192);
  --pst-color-background: rgb(18, 18, 18);
  --pst-color-on-background: rgb(22, 22, 22);
  --pst-color-surface: rgb(22, 22, 22);
  --pst-color-on-surface: rgb(55, 55, 55);
  --pst-color-border: rgb(192, 192, 192);
  --pst-color-shadow: var(--pst-color-background);

  // links
  --pst-color-link: var(--pst-color-primary);
  --pst-color-link-hover: rgb(170, 103, 196);
  --pst-color-target: rgb(71, 39, 0);

  // inline code
  --pst-color-inline-code: rgb(221, 158, 194);

  // targeted viewcode
  --pst-color-viewcode-target-border: rgb(170, 204, 153);
  --pst-color-viewcode-target-background: rgb(35, 55, 83);

  // alert
  // higher contrast of links in info boxes
  --pst-color-alert-link: rgb(232, 62, 140);

  // blockquote
  --pst-color-blockquote-border: rgb(117, 117, 117);

  // specific brightness applied on images
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
