version: 2
updates:
  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "tag: dependencies"
      - "tag: CI"
  # npm
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "tag: dependencies"
      - "tag: javascript"
    open-pull-requests-limit: 0 # security updates only
