[build-system]
requires = ["sphinx-theme-builder >= 0.2.0a7"]
build-backend = "sphinx_theme_builder"

[tool.sphinx-theme-builder]
node-version = "16.13.2"
theme-name = "pydata_sphinx_theme"
additional-compiled-static-assets = [
  "webpack-macros.html",
  "vendor/",
]

[project]
name = "pydata-sphinx-theme"
description = "Bootstrap-based Sphinx theme from the PyData community"
dynamic = ["version"]
readme = "README.md"

requires-python = ">=3.7"
dependencies = [
  "sphinx>=4",
  "beautifulsoup4",
  "docutils!=0.17.0",
  "packaging"
]

license = { file = "LICENSE" }
maintainers = [
  { name = "Joris Van den Bossche", email = "jorisvandenbossche@gmail.com" },
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python :: 3",
  "Framework :: Sphinx",
  "Framework :: Sphinx :: Theme",
  "License :: OSI Approved :: BSD License",
  "Operating System :: OS Independent",
]

[project.optional-dependencies]
doc = [
  "numpydoc",
  "myst-parser",
  "pandas",
  "pytest",
  "pytest-regressions",
  "sphinxext-rediraffe",
  "sphinx-sitemap",
  # For demo examples
  "jupyter_sphinx",
  "plotly",
  "numpy",
  "xarray",
  "sphinx-design",
]
test = [
  "pytest",
  "pydata-sphinx-theme[doc]",
]
coverage = [
  "pytest-cov",
  "codecov",
  "pydata-sphinx-theme[test]",
]
dev = [
  "pyyaml",
  "pre-commit",
  "nox",
  "pydata-sphinx-theme[coverage]",
]

[project.entry-points]
"sphinx.html_themes" = { pydata_sphinx_theme = "pydata_sphinx_theme" }
