/**
 * Main content area
 */
.bd-content {
  padding: 3rem 1.5rem 1rem 3rem;
  @include media-breakpoint-down(md) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .section {
    max-width: 100%;

    // make every overflowing elements in main content scrollable
    table {
      display: block;
      overflow: auto;
    }
  }
}
