.navbar {
  position: fixed;
  min-height: var(--pst-header-height);
  width: 100%;
  padding: 0;

  .container-xl {
    height: 100%;
  }

  // On smaller screens, add margin to the navbar start/stop
  @include media-breakpoint-down(lg) {
    #navbar-start {
      margin-left: 1em;
    }

    button.navbar-toggler {
      margin-right: 1em;
      border-color: var(--pst-color-navbar-toggler);
      color: var(--pst-color-navbar-toggler);
    }
  }

  @include media-breakpoint-up(lg) {
    // navbar-end-items should be on one line if possible
    #navbar-end > .navbar-end-item {
      display: inline-block;
    }
  }
}

.navbar-brand {
  position: relative;
  height: var(--pst-header-height);
  width: auto;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;

  // If there's no logo image, we use a p element w/ the site title
  p {
    margin-bottom: 0;
  }

  // If there's a logo, it'll be in an img block
  img {
    max-width: 100%;
    height: 100%;
    width: auto;
  }
}

// If we want the shadow to only point downward in the future, set
// box-shadow to: 0 0.125rem 0.25rem -0.125rem rgba(0, 0, 0, 0.11);
.navbar-light {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.11);

  .navbar-nav {
    li a.nav-link {
      padding: 0 0.5rem;
      color: var(--pst-color-navbar-link);

      &:hover {
        color: var(--pst-color-navbar-link-hover);
      }

      &:focus {
        color: var(--pst-color-navbar-link-hover);
      }
    }

    > .active > .nav-link {
      font-weight: 600;
      color: var(--pst-color-navbar-link-active);
    }
  }
}

// overwrite bootstrap coloring
#navbar-main {
  background-color: var(--pst-color-navbar-background) !important;
}

.navbar-header a {
  padding: 0 15px;
}

// inline the element in the navbar as long as they fit and use display block when colapsing
@media (min-width: 768px) {
  .navbar-center-item {
    display: inline-block;
  }
}

.toc-entry > .nav-link.active {
  font-weight: 600;
  color: var(--pst-color-toc-link-active);
  background-color: transparent;
  border-left: 2px solid var(--pst-color-toc-link-active);
}

.nav-link:hover {
  border-style: none;
}

#navbar-main-elements li.nav-item i {
  font-size: 0.7rem;
  padding-left: 2px;
  vertical-align: middle;
}
