.navbar {
  position: sticky;
  min-height: var(--pst-header-height);
  width: 100%;
  padding: 0.5rem 0;
  max-width: 100vw;

  .container-xl {
    height: 100%;
  }

  #navbar-end,
  #navbar-center,
  #navbar-start {
    display: flex;
    align-items: center;
    flex-flow: wrap;
  }

  #navbar-end,
  #navbar-center {
    gap: 1rem;
  }

  // A little smaller because this is displayed by default on mobile
  #navbar-start {
    gap: 0.5rem;
  }

  // Note: breakpoint-down *starts at the next-highest level*
  // So media-breakpoint-down(md) triggers the behavior at lg
  // ref: https://github.com/twbs/bootstrap/pull/29148 (it is changed in BS5)
  @include media-breakpoint-down(md) {
    // Make it scrollable with a max height on mobile in cases there are many items
    max-height: 90vh;
    overflow-y: auto;
    @include scrollbar-style;

    // On smaller screens, add margin to the navbar start + toggle button
    #navbar-start {
      margin-left: 1rem;
    }

    button.navbar-toggler {
      margin-right: 1rem;
      border-color: var(--pst-color-text-muted);
      color: var(--pst-color-text-muted);
    }
  }
}

// If we want the shadow to only point downward in the future, set
// box-shadow to: 0 0.125rem 0.25rem -0.125rem rgba(0, 0, 0, 0.11);
.bd-header.navbar-light#navbar-main {
  // Overrides bootstrap
  background: var(--pst-color-on-background) !important;
  box-shadow: 0 0.125rem 0.25rem 0 var(--pst-color-shadow);

  .navbar-nav {
    display: flex;

    @include media-breakpoint-up(lg) {
      // Add a gap on wider screens, on narrow screens we are vertical + already have padding
      gap: 1rem;
      // Center align on wide screens so the dropdown button is centered properly
      align-items: center;
    }

    li a.nav-link {
      // Unset bootstrap padding so we can use a gutter
      padding-left: 0;
      padding-right: 0;
      color: var(--pst-color-text-muted);

      &:hover {
        color: var(--pst-color-primary);
      }

      &:focus {
        color: var(--pst-color-primary);
      }
    }

    > .active > .nav-link {
      font-weight: 600;
      color: var(--pst-color-primary);
    }

    // Dropdowns for the extra links
    .dropdown {
      // On mobile, the dropdown behaves like any other link, no hiding
      button {
        display: none;
        color: var(--pst-color-text-muted);
      }

      .dropdown-menu {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        background-color: var(--pst-color-on-background);
        color: var(--pst-color-text-base);
        border: none;
      }

      // On wide screens, the dropdown becomes a pop-up menu
      @include media-breakpoint-up(lg) {
        height: 2.2rem; // Slight hack to make this aligned with navbar links

        button {
          display: flex;
          align-items: center;
        }

        .dropdown-menu {
          z-index: $zindex-popover;
          box-shadow: 0 0 0.3rem 0.1rem var(--pst-color-shadow);
          padding: 0.5rem 1rem;
          margin: 0.5rem 0;
          min-width: 20rem;

          // Hide the menu unless show has been clicked
          &:not(.show) {
            display: none;
          }
        }
      }
    }
  }
}

.navbar-header a {
  padding: 0 15px;
}

// inline the element in the navbar as long as they fit and use display block when collapsing
@include media-breakpoint-up(md) {
  .navbar-center-item {
    display: inline-block;
  }
}

.toc-entry > .nav-link.active {
  font-weight: 600;
  color: var(--pst-color-primary);
  background-color: transparent;
  border-left: 2px solid var(--pst-color-primary);
}

.nav-link:hover {
  border-style: none;
}

#navbar-main-elements li.nav-item i {
  font-size: 0.7rem;
  padding-left: 2px;
  vertical-align: middle;
}
