.header-article__inner {
  min-height: var(--pst-header-article-height);
  display: flex;
  padding: 0 0.5rem;

  .header-article-items__start,
  .header-article-items__end {
    display: flex;
    align-items: start;
    gap: 0.5rem;
  }

  .header-article-items__end {
    margin-left: auto;
  }
}
