/**
 * Secondary sidebar on the right.
 * e.g., in-page table of contents.
 */
.bd-sidebar-secondary {
  display: flex;
  order: 2;
  flex-direction: column;
  position: sticky;
  top: var(--pst-header-height);
  max-height: calc(100vh - var(--pst-header-height));

  padding: 2rem 1rem 1rem 1rem;
  @include make-col(2);

  // Color and border
  background-color: var(--pst-color-background);
  overflow-y: auto;

  .onthispage {
    color: var(--pst-color-text-base);
  }

  @include scrollbar-style();
}

// Each TOC item is wrapped in this
.toc-item {
  padding: 0.3rem 0.5rem;
  @include media-breakpoint-up($breakpoint-sidebar-secondary) {
    border-left: 1px solid var(--pst-color-border);
    padding-left: 1rem;
  }

  i {
    padding-right: 0.5rem;
  }
}

// The list of in-page TOC
.section-nav {
  padding-left: 0;
  margin-bottom: 1rem; // A little extra space before the buttons
  border-bottom: none;

  ul {
    padding-left: 1rem;
  }
}

// Each entry of the in-page TOC
.toc-entry {
  display: block;

  a {
    // So that the highlight bar overlaps with the toc border
    display: block;
    padding: 0.125rem 0;
    padding-left: 1rem;
    margin-left: -1rem;
    color: var(--pst-color-text-muted);

    &:hover {
      color: var(--pst-color-primary);
      text-decoration: none;
    }
  }
}

/* adjust toc font sizes to improve overview */
.toc-h2 {
  font-size: 0.85rem;
}

.toc-h3 {
  font-size: 0.75rem;
}

.toc-h4 {
  font-size: 0.65rem;
}
