/**
 * Secondary sidebar on the right.
 * e.g., in-page table of contents.
 */
// Each TOC item is wrapped in this
.tocsection {
  padding-left: 10px;
  border-left: 1px solid var(--pst-color-border);
  padding: 0.3rem 1.5rem;

  i {
    padding-right: 0.5rem;
  }
}

// The list of in-page TOC
.section-nav {
  padding-left: 0;
  border-left: 1px solid var(--pst-color-border);
  border-bottom: none;

  ul {
    padding-left: 1rem;
  }
}

.bd-sidebar-secondary {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - var(--pst-header-height));
  top: var(--pst-header-height);
  position: sticky;
  order: 2;

  @include sliding-drawer("right", $sidebar-secondary-breakpoint);

  // Color and border
  background-color: var(--pst-color-background);
  overflow-y: auto;

  .onthispage {
    color: var(--pst-color-text-base);
  }

  @include scrollbar-style();
}

// Each entry of the in-page TOC
.toc-entry {
  display: block;

  a {
    display: block;
    padding: 0.125rem 1.5rem;
    color: var(--pst-color-text-muted);

    @include media-breakpoint-up(xl) {
      padding-right: 0;
    }

    &:hover {
      color: var(--pst-color-primary);
      text-decoration: none;
    }
  }
}

/* adjust toc font sizes to improve overview */
.toc-h2 {
  font-size: 0.85rem;
}

.toc-h3 {
  font-size: 0.75rem;
}

.toc-h4 {
  font-size: 0.65rem;
}
