/**
 * Secondary sidebar on the right.
 * e.g., in-page table of contents.
 */
.bd-sidebar-secondary {
  display: flex;
  order: 2;
  flex-shrink: 0;
  flex-direction: column;
  position: sticky;
  top: var(--pst-header-height);
  max-height: calc(100vh - var(--pst-header-height));

  font-size: var(--pst-sidebar-font-size-mobile);
  @include media-breakpoint-up($breakpoint-sidebar-secondary) {
    font-size: var(--pst-sidebar-secondary-font-size);
  }

  padding: 2rem 1rem 1rem 1rem;
  width: var(--pst-sidebar-secondary);

  // Color and border
  background-color: var(--pst-color-background);
  overflow-y: auto;

  .onthispage {
    color: var(--pst-color-text-base);
  }

  @include scrollbar-style();
}

// Each TOC item is wrapped in this
.toc-item {
  padding: 0.3rem 0.5rem;
  @include media-breakpoint-up($breakpoint-sidebar-secondary) {
    border-left: 1px solid var(--pst-color-border);
    padding-left: 1rem;
  }

  i {
    padding-right: 0.5rem;
  }
}

// The list of in-page TOC
.section-nav {
  padding-left: 0;
  border-bottom: none;

  ul {
    padding-left: 1rem;
  }
}
