/*******************************************************************************
* Rules for the UX/UI of sidebar sliding drawers on mobile
* Note that this sheet controls styles across many parts of the theme
* It is aggregated into this one sheet instead of being split across
* components in order to keep it easier to debug in one place.
* It is broken up into major sections below.
*/

/**
 * Behavior for sliding drawer elements that will be toggled with an input
 *
 * NOTE: This mixin defines the behavior while *hidden* and we define the "show"
 * behavior in the sidebar_toggle.scss file
 */
@mixin sliding-drawer($side: "left", $breakpoint: lg) {
  // Note that media-breakpoint-down includes the widths above the breakpoint given
  // So we should provide the breakpoint just *above* where we want the behavior to trigger.
  @include media-breakpoint-down($breakpoint) {
    position: fixed;
    top: 0;
    z-index: $zindex-modal;
    height: 100vh;
    max-height: 100vh;
    width: 75%;
    max-width: 350px;
    transition: visibility $animation-time ease-out,
      margin $animation-time ease-out;
    visibility: hidden;

    @if $side == "right" {
      margin-right: -75%;
      right: 0;
    } @else {
      margin-left: -75%;
      left: 0;
    }
  }
}

/*******************************************************************************
* Buttons and overlays
*/
input.sidebar-toggle {
  display: none;
}

// Background overlays
label.overlay {
  background-color: black;
  height: 0;
  width: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity $animation-time ease-out;
  z-index: $zindex-modal-backdrop;
}

input {
  // Show the correct overlay when its input is checked
  &#__primary:checked + label.overlay.overlay-primary,
  &#__secondary:checked + label.overlay.overlay-secondary {
    height: 100vh;
    width: 100vw;
  }

  // Primary sidebar slides in from the left
  &#__primary:checked ~ .bd-container .bd-sidebar-primary {
    visibility: visible;
    margin-left: 0;
  }

  // Secondary sidebar slides in from the right
  &#__secondary:checked ~ .bd-container .bd-sidebar-secondary {
    visibility: visible;
    margin-right: 0;
  }
}

// At wider screens we remove the toggle buttons and revert the margin behavior
@include media-breakpoint-up($sidebar-primary-breakpoint) {
  label.sidebar-toggle.primary-toggle {
    display: none;
  }

  input#__primary {
    &:checked + label.overlay.overlay-primary {
      height: 0;
      width: 0;
    }
  }

  ~ .bd-container .bd-sidebar-primary {
    margin-left: 0;
    visibility: visible;
  }
}

// Secondary sidebar hides/shows on wider screens
@include media-breakpoint-up($sidebar-secondary-breakpoint) {
  label.sidebar-toggle.secondary-toggle {
    display: none;
  }

  ~ .bd-container .bd-sidebar-secondary {
    margin-right: 0;
    visibility: visible;
  }
}

.bd-sidebar-primary {
  @include sliding-drawer("left", $sidebar-primary-breakpoint);
}

.bd-sidebar-secondary {
  @include sliding-drawer("right", $sidebar-secondary-breakpoint);
}
