/**
 * A warning banner to direct users to a stable version of the documentation.
 */
 .bd-header-version-warning {
  position: relative; // So the background color variable fill works
  padding: 1rem;

  .bd-header-version-warning__content {
    @include background-from-color-variable(--pst-color-danger, 0.2);
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    font-size: 1.2rem;

    span {
      margin: auto 0;
      text-align: center;
    }

    // The button to the right of the banner text.
    a {
      z-index: 1; // To put it above the background banner.
      button {
        font-size: 1.2rem;
        background-color: var(--pst-color-danger);
        color: var(--pst-color-on-background);
        &:active {
          opacity: 0.8;
        }
      }
    }
  }
}