/**
 * Navigation text links in the navbar
 */
.navbar-nav {
  ul {
    display: block;
    list-style: none;

    // Reduce padding of nested `ul` items a bit
    ul {
      padding: 0 0 0 1rem;
    }
  }

  // Navbar links - do not have an underline by default
  li {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;

      @include link-style-text;
    }
  }
}
