.sd-card {
  border: 1px solid var(--pst-color-border);

  &.sd-shadow-xs,
  .sd-shadow-sm,
  .sd-shadow-md,
  .sd-shadow-lg {
    box-shadow: 0 0.5rem 1rem var(--pst-color-shadow);
  }

  .sd-card-header {
    background-color: var(--pst-color-background-up-up);
    border-bottom: 1px solid var(--pst-color-border);
  }
  .sd-card-footer {
    background-color: var(--pst-color-background-up-up);
    border-top: 1px solid var(--pst-color-border);
  }

  .sd-card-body {
    background-color: var(--pst-color-background-up);
  }
}
