.card {
  background-color: var(--pst-color-background-up);
  border: 1px solid var(--pst-color-border);

  // important to overrride the one from panel lib (which is already important
  &.shadow {
    box-shadow: 0 0.5rem 1rem var(--pst-color-shadow) !important;
  }

  .card-header {
    background-color: var(--pst-color-background-up-up);
    border-bottom: 1px solid var(--pst-color-border);
  }
  .card-footer {
    background-color: var(--pst-color-background-up-up);
    border-top: 1px solid var(--pst-color-border);
  }

  .card-body {
    background-color: var(--pst-color-background);
  }
}
