.rst-versions {
  position: relative !important;
  font-family: inherit !important;
  a {
    color: var(--pst-color-link) !important;
    text-decoration: underline !important;
    @include link-style-hover($important: true);
  }
  &.rst-badge {
    border-color: var(--pst-color-border) !important;
    border-radius: $admonition-border-radius;
    border-style: solid !important;
    border-width: 1px !important;
    bottom: unset !important;
    right: unset !important;
    &.shift-up .rst-current-version {
      .fa-book {
        float: none !important;
      }
      > .rst-current-version {
        height: inherit !important;
      }
    }
  }
  .rst-current-version {
    background-color: var(--pst-color-on-background) !important;
    color: var(--pst-color-text-base) !important;
    font-size: unset !important;
    .fa-book {
      float: none;
      display: inline-block !important;
    }
  }
  .rst-other-versions {
    position: absolute;
    width: 300px;
    color: var(--pst-color-text-muted) !important;
    background-color: var(--pst-color-on-background) !important;
    hr {
      border: none !important;
      border-top: solid 1px var(--pst-color-border) !important;
    }
    dl {
      border-top: solid 1px var(--pst-color-border) !important;
    }
    dd {
      a {
        @include link-style-hover($important: true);
        color: var(--pst-color-text-base) !important;
        text-decoration: none !important;
      }
    }
  }
}
