.bd-sidebar-primary div#rtd-footer-container {
  position: sticky;
  bottom: 0;
  margin: -1rem -1rem; // ignore sidebar padding

  .rst-versions.rst-badge {
    position: unset;
    font-size: 0.9em;
  }

  .rst-versions.rst-badge .rst-current-version {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    height: 2.5rem;
    transition: background-color 0.2s ease-out;
    background-color: var(--pst-color-background);
    color: var(--pst-color-text-muted);
    border-top: 1px solid var(--pst-color-border);
  }

  .rst-current-version {
    font-family: var(--pst-font-family-base-system);

    .fa.fa-book {
      color: var(--pst-color-text-muted);
    }
    .fa.fa-carret-down {
      color: var(--pst-color-text-muted);
    }
  }
}
