.bd-search {
  position: relative;
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;

  .icon {
    position: absolute;
    color: var(--pst-color-border);
    left: 25px;
  }

  input {
    background-color: var(--pst-color-background);
    border-radius: 0.2rem;
    border: 1px solid var(--pst-color-border);
    padding-left: 35px;
    color: var(--pst-color-border);

    // Inner-text of the search bar
    &::placeholder {
      color: var(--pst-color-border);
    }

    // Background should always be same color regardless of active or not
    &:active,
    &:focus {
      background-color: var(--pst-color-background);
      color: var(--pst-color-text-base);
    }
  }
}

// Search link icon should be a bit bigger since it is separate from icon links
.search-button {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0;
  color: var(--pst-color-text-muted);

  &:hover {
    color: var(--pst-color-primary);
  }

  i {
    font-size: 1.3rem;
  }
}

.search-button__search-container {
  display: none;
  position: absolute;
  right: 1rem;
  margin-top: 0.5rem;
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem 0 var(--pst-color-shadow);

  &.show {
    display: flex;
    justify-content: end;
  }

  form.bd-search {
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 0;
  }
}
