.bd-search {
  position: relative;
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;

  .icon {
    position: absolute;
    color: var(--pst-color-search);
    left: 25px;
  }

  input {
    background-color: var(--pst-color-search-background);
    border-radius: 0.2rem;
    border: 1px solid var(--pst-color-search-border);
    padding-left: 35px;

    // Inner-text of the search bar
    &::placeholder {
      color: var(--pst-color-search);
    }

    // Background should always be same color regardless of active or nor
    &:active,
    &:focus {
      background-color: var(--pst-color-search-background);
    }
  }
}
