/*******************************************************************************
* Rules th specify the display of the sidebars toggles
*/
input.sidebar-toggle {
  display: none;
}

label.overlay {
  background-color: black;
  height: 0;
  width: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0ms, height 0ms, opacity 200ms ease-out;
  z-index: $zindex-modal-backdrop;
}

input {
  &#__primary:checked + label.overlay.overlay-primary,
  &#__secondary:checked + label.overlay.overlay-secondary {
    height: 100vh;
    width: 100vw;
  }

  &#__primary:not(:checked) ~ .container-xl .bd-sidebar-primary,
  &#__secondary:not(:checked) ~ .container-xl .bd-sidebar-secondary {
    display: none;
  }
}

@include media-breakpoint-up($pst-primary-breakpoint) {
  input#__primary {
    &:checked + label.overlay.overlay-primary {
      height: 0;
      width: 0;
    }

    &:not(:checked) ~ .container-xl .bd-sidebar-primary {
      display: flex;
    }
  }
}

// hide the sidebar in narrow screens
// based on the toc_show_width variable
@each $break, $width in $grid-breakpoints {
  input#__secondary.toc-show-#{$break} {
    @include media-breakpoint-up($break) {
      &:checked + label.overlay.overlay-secondary {
        height: 0;
        width: 0;
      }

      &:not(:checked) ~ .container-xl .bd-sidebar-secondary {
        display: flex;
      }
    }
  }
}
