/*******************************************************************************
* Buttons and overlays for sidebar toggles
*/
input.sidebar-toggle {
  display: none;
}

// Background overlays
label.overlay {
  background-color: black;
  height: 0;
  width: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity $animation-time ease-out;
  z-index: $zindex-modal-backdrop;
}

input {
  // Show the correct overlay when its input is checked
  &#__primary:checked + label.overlay.overlay-primary,
  &#__secondary:checked + label.overlay.overlay-secondary {
    height: 100vh;
    width: 100vw;
  }

  // Primary sidebar slides in from the left
  &#__primary:checked ~ .bd-container .bd-sidebar-primary {
    visibility: visible;
    margin-left: 0;
  }

  // Secondary sidebar slides in from the right
  &#__secondary:checked ~ .bd-container .bd-sidebar-secondary {
    visibility: visible;
    margin-right: 0;
  }
}

// At wider screens we remove the toggle buttons and revert the margin behavior
@include media-breakpoint-up($sidebar-primary-breakpoint) {
  label.sidebar-toggle.primary-toggle {
    display: none;
  }

  input#__primary {
    &:checked + label.overlay.overlay-primary {
      height: 0;
      width: 0;
    }
  }

  ~ .bd-container .bd-sidebar-primary {
    margin-left: 0;
    visibility: visible;
  }
}

// Secondary sidebar hides/shows on wider screens
@include media-breakpoint-up($sidebar-secondary-breakpoint) {
  label.sidebar-toggle.secondary-toggle {
    display: none;
  }

  ~ .bd-container .bd-sidebar-secondary {
    margin-right: 0;
    visibility: visible;
  }
}
