#version_switcher_button {
  border-color: var(--pst-color-border);
  color: var(--pst-color-text-base);
}

#version_switcher_menu {
  a.list-group-item {
    background-color: var(--pst-color-on-surface);
    color: var(--pst-color-text-base);
    border-color: var(--pst-color-border);
  }

  // Over-rides Bootstrap default blue for the current one
  a.list-group-item.active {
    background-color: var(--pst-color-primary);
    border-color: var(--pst-color-primary);
  }
}
