/**
 * Light/dark theme switcher
 */

.theme-switch-button {
  span {
    display: none;

    &:active {
      text-decoration: none;
      color: var(--pst-color-link-hover);
    }

    .fa-lg {
      aspect-ratio: 1 / 1;
    }
  }
}

html[data-mode="auto"] .theme-switch-button span[data-mode="auto"] {
  display: inline;
}

html[data-mode="light"] .theme-switch-button span[data-mode="light"] {
  display: inline;
}

html[data-mode="dark"] .theme-switch-button span[data-mode="dark"] {
  display: inline;
}
