/**
 * Light/dark theme switcher
 */

.theme-switch-button {
  color: var(--pst-color-text-muted);
  border-radius: 0;
  border: none; // Override Bootstrap button border
  font-size: 1rem; // Override Bootstrap's button font size

  // Override Bootstrap button padding-x. Whitespace in nav bar is controlled
  // via column gap rule on the container.
  padding-left: 0;
  padding-right: 0;

  &:hover {
    @include icon-navbar-hover;
  }

  span {
    display: none;

    &:active {
      text-decoration: none;
      color: var(--pst-color-link-hover);
    }

    .fa-lg {
      aspect-ratio: 1 / 1;
    }
  }
}

html[data-mode="auto"] .theme-switch-button span[data-mode="auto"] {
  display: flex;
}

html[data-mode="light"] .theme-switch-button span[data-mode="light"] {
  display: flex;
}

html[data-mode="dark"] .theme-switch-button span[data-mode="dark"] {
  display: flex;
}
