@use "sass:map";
@use "sass:meta";
@use "sass:string";

:root {
  // Add theme colours to the html root element
  @each $group-color, $color in $color-palette {
    @each $color-name, $definition in $color {
      --pst-#{$group-color}-#{$color-name}: #{$definition};
    }
  }
}

/* Defaults to light mode if data-theme is not set */
html:not([data-theme]) {
  @include theme-colors("light");
}

/* NOTE: @each {...} is like a for-loop
 * https://sass-lang.com/documentation/at-rules/control/each
 */
@each $mode in (light, dark) {
  html[data-theme="#{$mode}"] {
    @include theme-colors($mode);

    color-scheme: $mode;
  }
}

// assign classes too, for runtime use of theme colors
@each $col-name, $definition in $pst-semantic-colors {
  .pst-color-#{$col-name} {
    color: var(--pst-color-#{$col-name});
  }
}
