/*******************************************************************************
* master color map. Only the colors that actually differ between light and dark
* themes are specified separately.
*
* To see the full list of colors see https://www.figma.com/file/rUrrHGhUBBIAAjQ82x6pz9/PyData-Design-system---proposal-for-implementation-(2)?node-id=1234%3A765&t=ifcFT1JtnrSshGfi-1
*/

/* Assign base colors for the PyData theme */
$theme-colors: (
  // Primary color
  "light-blue":
    (
      "50": #f4fbfc,
      "100": #e9f6f8,
      "200": #d0ecf1,
      "300": #abdde6,
      "400": #3fb1c5,
      "500": #0a7d91,
      "600": #085d6c,
      "700": #064752,
      "800": #042c33,
      "900": #021b1f,
    ),
  // Secondary color
  "violet":
    (
      "50": #fbf8fe,
      "100": #f6f2fe,
      "200": #ece3fc,
      "300": #decdfa,
      "400": #b691f5,
      "500": #894def,
      "600": #6730c5,
      "700": #4e2595,
      "800": #31175f,
      "900": #1e0e39,
    ),
  // Neutrals
  "gray":
    (
      "50": #f9f9fa,
      "100": #f3f4f5,
      "200": #e5e7ea,
      "300": #d1d5da,
      "400": #9ca4af,
      "500": #677384,
      "600": #48566b,
      "700": #364150,
      "800": #222832,
      "900": #14181e,
    ),
  // Accent color
  "pink":
    (
      "50": #fcf8fd,
      "100": #fcf0fa,
      "200": #f8dff5,
      "300": #f3c7ee,
      "400": #e47fd7,
      "500": #c132af,
      "600": #912583,
      "700": #6e1c64,
      "800": #46123f,
      "900": #2b0b27,
    ),
  "foundation": (
    "white": #ffffff,
    "black": #14181e,
  )
);

html {
  // Add theme colours to the html element
  @each $group-color, $color in $theme-colors {
    @each $color-name, $value in $color {
      --pst-#{$group-color}-#{$color-name}: #{$value};
    }
  }

  // Minimum contrast ratio used for the theme.
  // Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
  // See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
  $min-contrast-ratio: 4.5;

  // Customize the light and dark text colors for use in our color contrast function.
  $color-contrast-dark: #{pst-color-black};
  $color-contrast-light: #{pst-color-white};
}

/**
* Function to get items from nested maps
*/
// @param {Map} $map - Map
// @param {Arglist} $keys - Keys to fetch
// @return {*}
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

$pst-semantic-colors: (
  "primary": (
    light: #{map-deep-get($theme-colors, "light-blue", "500")},
    dark: #{map-deep-get($theme-colors, "light-blue", "400")},
  ),
  "secondary": (
    light: #{map-deep-get($theme-colors, "violet", "500")},
    dark: #{map-deep-get($theme-colors, "violet", "400")},
  ),
  "info": (
    "light": #276be9,
    "light-bg": #eff4fd,
    "dark": #79a3f2,
    "dark-bg": #06245d,
  ),
  "warning": (
    "light": #f66a0a,
    "light-bg": #fff8f2,
    "dark": #ff9245,
    "dark-bg": #652a02,
  ),
  "success": (
    "light": #00843f,
    "light-bg": #ecf6f1,
    "dark": #5fb488,
    "dark-bg": #002f17,
  ),
  "attention": (
    "light": #f66a0a,
    "light-bg": #fff8f2,
    "dark": #ff9245,
    "dark-bg": #652a02,
  ),
  "danger": (
    "light": #d72d47,
    "light-bg": #fcf1f2,
    "dark": #e78894,
    "dark-bg": #4e111b,
  ),
  "text-base": (
    "light": #{map-deep-get($theme-colors, "gray", "800")},
    // "dark": #e5e7ea
    "dark": #ced6dd,
    // gray-100
  ),
  "text-muted": (
    "light": #{map-deep-get($theme-colors, "gray", "600")},
    "dark": #{map-deep-get($theme-colors, "gray", "300")},
  ),
  // TODO - update
  "shadow":
    (
      // "light": rgb(216, 216, 216),
      "light": rgba(0, 0, 0, 0.1),
      "dark": rgba(0, 0, 0, 0.2),
    ),
  // TODO- update (need muted and regular - this is muted)
  "border":
    (
      "light": rgba(23, 23, 26, 0.2),
      "dark": #{map-deep-get($theme-colors, "gray", "600")},
    ),
  "inline-code": (
    "light": #{map-deep-get($theme-colors, "pink", "600")},
    "dark": #{map-deep-get($theme-colors, "pink", "300")},
  ),
  "target": (
    "light": #8b6e31,
    "dark": #c79d41,
  ),
  // DEPTH COLORS
  // background: color of the canvas / the furthest back layer
  "background":
    (
      "light": #{map-deep-get($theme-colors, "foundation", "white")},
      "dark": #{map-deep-get($theme-colors, "foundation", "black")},
    ),
  // on-background: provides slight contrast against background
  // (by use of shadows in light theme)
  "on-background":
    (
      "light": #{map-deep-get($theme-colors, "foundation", "white")},
      "dark": #{map-deep-get($theme-colors, "gray", "800")},
    ),
  // surface: object set above the background (without shadows)
  // Uses JupyterLab cell background colors in light/dark theme
  "surface":
    (
      "light": #{map-deep-get($theme-colors, "gray", "100")},
      "dark": #{map-deep-get($theme-colors, "gray", "700")},
    ),
  // on_surface: object on top of surface object (without shadows)
  "on-surface":
    (
      "light": #{map-deep-get($theme-colors, "gray", "800")},
      "dark": #ced6dd,
    ),
);

@mixin create-color-var($key, $value, $identifier: "") {
  //$identifier is an optional variable - used for the new system
  @if $identifier != "" {
    --pst-color-#{$key}-#{$identifier}: #{$value};
  } @else {
    --pst-color-#{$key}: #{$value};
  }
}

@mixin theme-colors($mode) {
  @each $name, $value in $pst-semantic-colors {
    // check if there is a map (i.e. multiple light/dark definitions)
    @if type-of($value) == map {
      // support for single light/dark colour definitions
      @if map-has-key($value, $mode) {
        $value: map-get($value, $mode);
        @include create-color-var($name, $value);
      } // support for multiple light/dark colour definitions - as our new design system
      @else {
        @each $key, $val in $value {
          @include create-color-var($key, $val, $name);
        }
      }
    } @else {
      @include create-color-var($name, $value);
    }
  }
  // assign the "duplicate" colors (ones that just reference other variables)
  & {
    --pst-color-link: var(--pst-color-primary);
    --pst-color-link-hover: var(--pst-color-secondary);
  }
  // adapt to light/dark-specific content
  @if $mode == "light" {
    .only-dark {
      display: none !important;
    }
  } @else {
    .only-light {
      display: none !important;
    }
    /* Adjust images in dark mode (unless they have class .only-dark or
     * .dark-light, in which case assume they're already optimized for dark
     * mode).
     */
    img:not(.only-dark):not(.dark-light) {
      filter: brightness(0.8) contrast(1.2);
    }
    /* Give images a light background in dark mode in case they have
    *  transparency and black text (unless they have class .only-dark or .dark-light, in
    *  which case assume they're already optimized for dark mode).
    */
    .bd-content img:not(.only-dark):not(.dark-light) {
      background: rgb(255, 255, 255);
      border-radius: 0.25rem;
    }
    // MathJax SVG outputs should be filled to same color as text.
    .MathJax_SVG * {
      fill: var(--pst-color-text-base);
    }
  }
}

/* Defaults to light mode if data-theme is not set */
html:not([data-theme]) {
  @include theme-colors("light");
}

/* NOTE: @each {...} is like a for-loop
 * https://sass-lang.com/documentation/at-rules/control/each
 */
@each $mode in (light, dark) {
  html[data-theme="#{$mode}"] {
    @include theme-colors($mode);
  }
}

// assign classes too, for runtime use of theme colors
@each $name, $value in $pst-semantic-colors {
  .pst-color-#{$name} {
    color: var(--pst-color-#{$name});
  }
}
