// MyST Markdown tables use these classes to control alignment
th,
td {
  &.text-align\:left {
    text-align: left;
  }

  &.text-align\:right {
    text-align: right;
  }

  &.text-align\:center {
    text-align: center;
  }
}
