/**
 * ABlog
 * ref: https://ablog.readthedocs.io/
 */

/**
 * Sidebar template components
 */
.ablog-sidebar-item {
  h2,
  h3 {
    font-size: var(--pst-sidebar-header-font-size);
    // Remove unnecessary vertical whitespace
    margin-top: 0.5rem;

    // The headers are all links, but this makes them hard to parse
    // So we change the colors to make them look like headers
    a {
      color: var(--pst-color-text-base);
    }
  }

  ul {
    // No bullet points for the primary sidebar items
    list-style: none;
    padding-left: 0;
    // Otherwise a scrollbar randomly shows up
    overflow-y: hidden;
    // List of recent post items
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 0;

    // The ablog cloud should move horizontally
    &.ablog-cloud {
      flex-direction: row;
      flex-flow: wrap;
      gap: 0.25rem;

      // Vertical-align tag clouds
      li {
        // Center the tag cloud items
        display: flex;
        align-items: center;
      }
    }
  }
}

/**
 * Previous / next buttons at the bottom
 */
.ablog__prev-next {
  font-size: 1.2em;
  display: flex;

  // The bottom previous / next arrows
  span {
    // To ensure that the whole thing fits on one line even if there are long titles
    max-width: 45%;
    // Alignment with the prev/next arrows
    display: flex;
    gap: 0.5rem;
    align-items: center;
    // Remove the ABlog icons because we specify our own
    // TODO: Instead just update the ABlog icon `content:` when the following is resolved:
    //    https://github.com/sunpy/ablog/issues/194
    a i {
      display: none;
    }
    // If the span is empty, it means there's no previous/next page to go to
    // so this prevents the arrow from showing up
    &:empty {
      display: none;
    }
  }

  // The first span is the "previous" button
  span:first-child:before {
    content: var(--pst-icon-angle-left);
    font-family: "Font Awesome 6 Free";
    font-weight: 800;
  }

  // The second span is just an empty space so we remove it because we're
  // positioning with flex
  span:first-child + span {
    display: none !important;
  }

  // The third span is aligned to the right
  span:last-child {
    margin-left: auto;
    text-align: right;
    &:after {
      content: var(--pst-icon-angle-right);
      font-family: "Font Awesome 6 Free";
      font-weight: 800;
    }
  }
}

/**
 * {postlist} directive and posts page
 */
.ablog__collection,
.postlist {
  padding-left: 0;

  .ablog-post {
    list-style: none;

    // Post metadata
    .ablog-archive {
      list-style: none;
      padding-left: 0;
    }

    // Title line should be a bit bigger
    .ablog-post-title {
      margin-top: 0;
      font-size: 1.5rem;
    }

    // Read more button should be a bit bigger
    .ablog-post-expand {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }
  }
}
