/**
 * Special-cases for packages in the PyData ecosystem
 */

// xarray output display in bootstrap
.xr-wrap[hidden] {
  display: block !important;
}

// MyST-NB (uses .bd-content selector to over-ride myst-nb defaults)
.bd-content div.cell_output table {
  color: var(--pst-color-text-base);

  tbody tr:nth-child(odd) {
    background: var(--pst-color-surface);
  }

  div.cell_output tbody tr:nth-child(odd) {
    background: #f5f5f5;
  }
}

// customize xarray display 
.xr-wrap: {
  
  xr-section-item input:enabled + label:hover {
    color: var(--pst-color-text-base);
  }
  
  div[class^="xr-var"], label{
    background: var(--pst-color-surface);
    
    span {
      background: var(--pst-color-surface);
    }
  }
}
  
