/*********************************************
* SASS Mixins
*********************************************/
/**
* Scrollbars should be thinner and slightly rounded, with a grey background
*/
@mixin scrollbar-style() {
  &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--pst-color-deactivate);
    border-radius: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--pst-color-background);
  }
}

/**
  * Hide the scrollbar until the element is overed, so keep the page clean
  */
@mixin scrollbar-on-hover() {
  &:not(:hover) {
    &::-webkit-scrollbar-thumb {
      visibility: hidden;
    }
  }
}
