/*****************************************************************************
 * Custom font
**/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /*****************************************************************************
   * Bootstrap variables are availlable:
   * https://getbootstrap.com/docs/4.0/getting-started/theming/#css-variables
  **/

  /*****************************************************************************
  * Font size
  **/
  --fs-base: 15px; /* base font size - applied at body / html level */

  /* heading font sizes */
  --fs-h1: 36px;
  --fs-h2: 32px;
  --fs-h3: 26px;
  --fs-h4: 21px;
  --fs-h5: 28px;
  --fs-h6: 18px;

  /* smaller then heading font sizes*/
  --fs-milli: 12px;

  /*****************************************************************************
  * Font family
  **/
  --ff-base: 'Lato', sans-serif;
  --ff-heading: 'Open Sans', sans-serif;

  /*****************************************************************************
  * Color
  **/
  --color-primary: #130654;
  --color-text-base: #333;
  --color-h1: var(--color-primary);
  --color-h2: var(--color-primary);
  --color-h3: var(--color-text-base);
  --color-h4: var(--color-text-base);
  --color-h5: var(--color-text-base);
  --color-h6: var(--color-text-base);
  --color-paragraph: var(--color-text-base);
  --color-link: #005b81;
  --color-link-hover: #e32e00;
  --color-headerlink: #c60f0f;
  --color-headerlink-hover: white;
  --color-preformatted-text: #222;
  --color-preformatted-background: #fafafa;

  /* admonition colors */
  --color-admonition-base: var(--blue);
  --color-admonition-attention: var(--orange);
  --color-admonition-attention-light: #ffedcc;
  --color-admonition-caution: var(--orange);
  --color-admonition-caution-light: #ffedcc;
  --color-admonition-warning: var(--red);
  --color-admonition-warning-light: #fdf3f2;
  --color-admonition-danger: var(--red);
  --color-admonition-danger-light: #fdf3f2;
  --color-admonition-error: var(--red);
  --color-admonition-error-light: #fdf3f2;
  --color-admonition-hint: var(--yellow);
  --color-admonition-hint-light: #fff6dd;
  --color-admonition-tip: var(--yellow);
  --color-admonition-tip-light: #fff6dd;
  --color-admonition-important: var(--blue);
  --color-admonition-important-light: #e7f2fa;
  --color-admonition-note: var(--blue);
  --color-admonition-note-light: #e7f2fa;

  /*****************************************************************************
  * Icon
  **/

  /* font awesome icons*/
  --icon-info-circle: '\f05a';
  --icon-exclamation-circle: '\f06a';
  --icon-lightbulb: '\f0eb';
  --icon-question: '\f128';
  --icon-exclamation-triangle: '\f071';
  --icon-times-circle: '\f057';
}
