html {
  font-size: var(--fs-base);
}

body {
  padding-top: 75px;

  background-color: white;
  font-family: var(--ff-base);
  font-weight: 400;
  line-height: 1.65em;
  color: var(--main-text-color);
}

p {
  margin-bottom: 1.15rem;
  font-size: 1em;
  color: var(--color-paragraph);

  /* section header in docstring pages */
  &.rubric {
    border-bottom: 1px solid rgb(201, 201, 201);
  }
}

a {
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
  }

  &.headerlink {
    color: var(--color-headerlink);
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;

    &:hover {
      background-color: var(--color-headerlink);
      color: var(--color-headerlink-hover);
    }
  }
}

.heading-style {
  margin: 2.75rem 0 1.05rem;
  font-family: var(--ff-heading);
  font-weight: 400;
  line-height: 1.15;

  &::before {
    // offsetting html anchor titles to adjust for fixed header
    display: block;
    content: '';
    height: 80px;
    margin: -80px 0 0;
  }
}

h1 {
  @extend .heading-style;
  margin-top: 0;
  font-size: var(--fs-h1);
  color: var(--color-h1);
}

h2 {
  @extend .heading-style;
  font-size: var(--fs-h2);
  color: var(--color-h2);
}

h3 {
  @extend .heading-style;
  font-size: var(--fs-h3);
  color: var(--color-h3);
}

h4 {
  @extend .heading-style;
  font-size: var(--fs-h4);
  color: var(--color-h4);
}

h5 {
  @extend .heading-style;
  font-size: var(--fs-h5);
  color: var(--color-h5);
}

h6 {
  @extend .heading-style;
  font-size: var(--fs-h6);
  color: var(--color-h6);
}

small,
.text_small {
  font-size: var(--fs-milli);
}

hr {
  border: 0;
  border-top: 1px solid #e5e5e5;
}

pre {
  margin: 1.5em 0 1.5em 0;
  padding: 10px;
  background-color: var(--color-preformatted-background);
  color: var(--color-preformatted-text);
  line-height: 1.2em;
  border: 1px solid rgb(201, 201, 201);
  box-shadow: 1px 1px 1px #d8d8d8;
}
