.navbar {
  // max-width: 600px;
  position: sticky;
}

.navbar-brand {
  img {
    width: auto;
    height: 45px;
  }
}

// If we want the shadow to only point downward in the future, set
// box-shadow to: 0 0.125rem 0.25rem -0.125rem rgba(0, 0, 0, 0.11);
.navbar-light {
  background: #fff !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.11);
}

.navbar-nav {
  li a {
    padding: 0 15px;
  }

  > .active > .nav-link {
    font-weight: 600;
    color: #130654 !important;
  }
}

.navbar-header a {
  padding: 0 15px;
}