// Used by admonitions
$orange-light: #ffedcc;
$red-light: #fdf3f2;
$yellow-light: #fff6dd;
$blue-light: #e7f2fa;

// Icons for admonition titles
$icon-info-circle: "\f05a";
$icon-exclamation-circle: "\f06a";
$icon-lightbulb: "\f0eb";
$icon-question: "\f128";
$icon-exclamation-triangle: "\f071";
$icon-times-circle: "\f057";
