// Override bootstrap variables
$spacer: 1rem;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1400px
);

// Include core Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

@import './base';
@import './navbar';

// Custom css, TODO: to be refactored in different partials
.deprecated {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px;
  background-color: #ffe4e4;
  border: 1px solid #f66;

  p {
    display: inline;
  }
}

.topic {
  background-color: #eee;
}

.seealso dd {
  margin-top: 0;
  margin-bottom: 0;
}

.viewcode-back {
  font-family: Arial, sans-serif;
}

.viewcode-block:target {
  background-color: #f4debf;
  border-top: 1px solid #ac9;
  border-bottom: 1px solid #ac9;
}

/**
 * Styling for field lists
 */

/* grey highlighting of 'parameter' and 'returns' field */
table.field-list {
  border-collapse: separate;
  border-spacing: 10px;
  margin-left: 1px;

  th.field-name {
    padding: 1px 8px 1px 5px;
    white-space: nowrap;
    background-color: rgb(238, 238, 238);
  }

  /* italic font for parameter types */
  td.field-body {
    p {
      font-style: italic;

      > strong {
        font-style: normal;
      }
    }

    /* reduced space around parameter description */
    blockquote {
      border-left: none;
      margin: 0em 0em 0.3em;
      padding-left: 30px;
    }
  }
}

/**
 * Styling for autosummary tables
 */

// The first column (with the signature) should not wrap
td:first-child {
  white-space: nowrap;
}

/**
 * Footer
 */

.footer {
  width: 100%;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

/* -------------------------------------------------------------------------- */

.bd-search {
  position: relative;
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;

  .icon {
    position: absolute;
    color: #a4a6a7;
    left: 25px;
    top: 25px;
  }

  input {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 35px;
  }
}

/* minimal copy paste from bootstrap docs css to get sidebars working */

.bd-toc {
  -ms-flex-order: 2;
  order: 2;

  height: calc(100vh - 2rem);
  overflow-y: auto;

  @supports (position: -webkit-sticky) or (position: sticky) {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    height: calc(100vh - 5rem);
    overflow-y: auto;
  }

  .onthispage {
    color: #a4a6a7;
  }
}

.section-nav {
  padding-left: 0;
  border-left: 1px solid #eee;
  border-bottom: none;

  ul {
    padding-left: 1rem;
  }
}

.toc-entry {
  display: block;

  a {
    display: block;
    padding: 0.125rem 1.5rem;
    color: #77757a;

    @include media-breakpoint-up(xl) {
      padding-right: 0;
    }

    &:hover {
      color: rgba(0, 0, 0, 0.85);
      text-decoration: none;
    }
  }
}

.bd-sidebar {
  padding-top: 1em;
  @media (min-width: 768px) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    @supports (position: -webkit-sticky) or (position: sticky) {
      position: -webkit-sticky;
      position: sticky;
      top: 76px;
      z-index: 1000;
      height: calc(100vh - 4rem);
    }
  }
}

.bd-links {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  @supports (position: -webkit-sticky) or (position: sticky) {
    .bd-links {
      max-height: calc(100vh - 9rem);
      overflow-y: auto;
    }
  }
}

@media (min-width: 768px) {
  .bd-links {
    display: block !important;
  }
}

.bd-sidenav {
  display: none;
}

.bd-content {
  padding-top: 20px;
  overflow: auto;

  // make every overflowing section in main content scrollable
  .section {
    overflow: auto;
  }
}

.bd-toc-link {
  display: block;
  padding: 0.25rem 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);

  &:hover {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
  }
}

.bd-toc-item.active {
  margin-bottom: 1rem;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  > {
    .bd-toc-link {
      color: rgba(0, 0, 0, 0.85);

      &:hover {
        background-color: transparent;
      }
    }

    .bd-sidenav {
      display: block;
    }
  }
}

.bd-sidebar .nav > {
  li > a {
    display: block;
    padding: 0.25rem 1.5rem;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.65);

    &:hover {
      color: #130654;
      text-decoration: none;
      background-color: transparent;
    }
  }

  .active {
    > a,
    &:hover > a {
      font-weight: 600;
      color: #130654;
    }
  }

  li > ul {
    list-style: none;
    padding: 0.25rem 1.5rem;

    > {
      li > a {
        display: block;
        padding: 0.25rem 1.5rem;
        font-size: 0.9em;
        color: rgba(0, 0, 0, 0.65);
      }

      .active {
        > a,
        &:hover > a {
          font-weight: 600;
          color: #130654;
        }
      }
    }
  }
}

/* adjust toc font sizes to improve overview */
.toc-h2 {
  font-size: 0.85rem;
}

.toc-h3 {
  font-size: 0.75rem;
}

.toc-h4 {
  font-size: 0.65rem;
}

.toc-entry > .nav-link.active {
  font-weight: 600;
  color: #130654;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}

.nav-link:hover {
  border-style: none;
}

#navbar-main-elements li.nav-item i {
  font-size: 0.7rem;
  padding-left: 2px;
  vertical-align: middle;
}

/* Collapsing of the TOC sidebar while scrolling */

/* Nav: hide second level (shown on .active) */

.bd-toc .nav {
  .nav {
    display: none;
  }

  > .active > ul {
    display: block;
  }
}

/* Previous / Next buttons */

.prev-next-bottom {
  margin: 20px 0px;

  a {
    &.left-prev,
    &.right-next {
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      max-width: 45%;
      overflow-x: hidden;
      color: rgba(0, 0, 0, 0.65);
    }

    &.left-prev {
      float: left;

      &:before {
        content: '<< ';
      }
    }

    &.right-next {
      float: right;

      &:after {
        content: ' >>';
      }
    }
  }
}

/* Alert Styling */

.alert {
  /* Avoid too large empty space below alert boxes. */
  padding-bottom: 0;
}

.alert-info a {
  /* higher contrast for links in info boxes. */
  color: #e83e8c;
}

/* Social media buttons */

i {
  &.fab {
    vertical-align: middle;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.25;
  }

  &.fa-github-square:before {
    color: #333;
  }

  &.fa-twitter-square:before {
    color: #55acee;
  }
}

/* TOC section headers */

.tocsection {
  padding-left: 10px;
  border-left: 1px solid #eee;
  padding: 0.3rem 1.5rem;

  i {
    padding-right: 0.5rem;
  }
}

.editthispage {
  padding-top: 2rem;

  a {
    color: #130754;
  }
}
