:root {
  --sd-color-primary: var(--pst-color-primary);
  --sd-color-secondary: var(--pst-color-secondary);
}

/* Background of stable should be green */
#version_switcher a[data-version-name*="stable"] {
  position: relative;
}

#version_switcher a[data-version-name*="stable"] span {
  color: var(--pst-color-success);
}

#version_switcher a[data-version-name*="stable"] span:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--pst-color-success);
  opacity: 0.1;
}

/* the badges to display colors to the end user */
span.pst-badge {
  border: 1px solid var(--pst-color-text-base);
}

span.pst-primary {
  background-color: var(--pst-color-primary);
}
span.pst-secondary {
  background-color: var(--pst-color-secondary);
}
span.pst-success {
  background-color: var(--pst-color-success);
}
span.pst-info {
  background-color: var(--pst-color-info);
}
span.pst-warning {
  background-color: var(--pst-color-warning);
}
span.pst-danger {
  background-color: var(--pst-color-danger);
}
span.pst-background {
  background-color: var(--pst-color-background);
}
span.pst-on-background {
  background-color: var(--pst-color-on-background);
}
span.pst-surface {
  background-color: var(--pst-color-surface);
}
span.pst-on-surface {
  background-color: var(--pst-color-on-surface);
}
span.pst-target {
  background-color: var(--pst-color-target);
}

/* display the overlay structure to the end user */

.overlay-container {
  margin-top: 10%;
  left: 20%;
  --width: 80%;
  --height: 200px;
  width: var(--width);
  height: var(--height);
  position: relative;
}

.overlay-container .pst-background {
  background-color: var(--pst-color-background);
  width: var(--width);
  transform: skew(-45deg);
  height: var(--height);
}

.overlay-container .pst-on-background {
  background-color: var(--pst-color-on-background);
  height: var(--height);
  width: calc(var(--width) / 3);
  transform: skew(-45deg) translate(-2rem, -2rem);
}
.overlay-container .pst-surface {
  background-color: var(--pst-color-surface);
  height: var(--height);
  width: calc(var(--width) / 3);
  transform: skew(-45deg) translate(-2rem, -2rem);
  left: calc(var(--width) / 3 * 2);
}
.overlay-container .pst-on-surface {
  background-color: var(--pst-color-on-surface);
  width: calc(var(--width) / 3);
  height: calc(var(--height) * 0.66);
  transform: skew(-45deg) translate(-2rem, -4rem);
  left: calc(var(--width) / 3 * 2);
}

.overlay-container .pst-overlay {
  position: absolute;
  border: 2px solid var(--pst-color-border);
}

.overlay-container .label {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: skew(45deg) translateX(-50%);
  white-space: nowrap;
}
