/* Background of stable should be green */
.version-switcher__container a[data-version-name*="stable"] {
  position: relative;
}

.version-switcher__container a[data-version-name*="stable"] span {
  color: var(--pst-color-success);
}

.version-switcher__container a[data-version-name*="stable"] span:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--pst-color-success);
  opacity: 0.1;
}

/* custom CSS classes (used in docs/user_guide/extending.rst) NOTE: the begin
 *  and end markers are necessary for partial file includes! don't remove them.
 */

/* begin-custom-color/* <your static path>/custom.css */

div.admonition.admonition-olive {
  border-color: olive;
}
div.admonition.admonition-olive > .admonition-title:before {
  background-color: olive;
}
div.admonition.admonition-olive > .admonition-title:after {
  color: olive;
}
/* end-custom-color */

/* begin-custom-icon/* <your static path>/custom.css */

div.admonition.admonition-icon > .admonition-title:after {
  content: "\f24e"; /* the fa-scale icon */
}
/* end-custom-icon */

/* begin-custom-youtube/* <your static path>/custom.css */

div.admonition.admonition-youtube {
  border-color: #ff0000; /* YouTube red */
}
div.admonition.admonition-youtube > .admonition-title:before {
  background-color: #ff0000;
}
div.admonition.admonition-youtube > .admonition-title:after {
  color: #ff0000;
  content: "\f26c"; /* fa-solid fa-tv */
}
/* end-custom-youtube */
