# Workflow to add a comment to a PR with a link to the preview of the docs

name: rtd-preview-link

on:
  pull_request:
    types: [opened]

permissions:
  pull-requests: write

jobs:
  add-preview-link:
    runs-on: ubuntu-latest
    steps:
      - uses: readthedocs/actions/preview@b8bba1484329bda1a3abe986df7ebc80a8950333
        with:
          project-slug: "pydata-sphinx-theme"
