// Admonitions CSS originally inspired by https://squidfunk.github.io/mkdocs-material/getting-started/

div.admonition,
.admonition {
  margin: 1.5625em auto;
  padding: 0 0.6rem 0.8rem 0.6rem;
  overflow: hidden;
  page-break-inside: avoid;
  border-left: 0.2rem solid;
  border-color: var(--pst-color-admonition-default);
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.5rem var(--pst-color-admonition-shadow),
    0 0 0.0625rem var(--pst-color-admonition-shadow);
  transition: color 250ms, background-color 250ms, border-color 250ms;
  background-color: var(--pst-color-admonition-background);

  // Last item should have no spacing since we'll control that w/ padding
  *:last-child {
    margin-bottom: 0;
  }

  // Items after the title should be indented
  p.admonition-title ~ * {
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }

  // Lists need to have left margin so they don't spill into it
  > ol,
  > ul {
    margin-left: 1em;
  }

  // Defaults for all admonitions
  > .admonition-title {
    position: relative;
    margin: 0 -0.6rem;
    padding: 0.4rem 0.6rem 0.4rem 2rem;
    font-weight: 700;

    &:before {
      position: absolute;
      left: 0.6rem;
      width: 1rem;
      height: 1rem;
      color: var(--pst-color-admonition-default);
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: var(--pst-icon-admonition-default);
      opacity: 1;
    }

    // This is a hack to control the opacity for admonitions with our color variables
    // ref: https://stackoverflow.com/a/56951626/6734243
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: var(--pst-color-admonition-default);
      opacity: 0.1;
    }

    // Next element after title needs some extra upper-space
    + * {
      margin-top: 0.4em;
    }
  }

  &.attention {
    border-color: var(--pst-color-admonition-attention);
    > .admonition-title {
      &:after {
        background-color: var(--pst-color-admonition-attention);
      }

      &:before {
        color: var(--pst-color-admonition-attention);
        content: var(--pst-icon-admonition-attention);
      }
    }
  }

  &.caution {
    border-color: var(--pst-color-admonition-caution);
    > .admonition-title {
      &:after {
        background-color: var(--pst-color-admonition-caution);
      }

      &:before {
        color: var(--pst-color-admonition-caution);
        content: var(--pst-icon-admonition-caution);
      }
    }
  }

  &.warning {
    border-color: var(--pst-color-admonition-warning);
    > .admonition-title {
      &:after {
        background-color: var(--pst-color-admonition-warning);
      }

      &:before {
        color: var(--pst-color-admonition-warning);
        content: var(--pst-icon-admonition-warning);
      }
    }
  }

  &.danger {
    border-color: var(--pst-color-admonition-danger);
    > .admonition-title {
      &:after {
        background-color: var(--pst-color-admonition-danger);
      }

      &:before {
        color: var(--pst-color-admonition-danger);
        content: var(--pst-icon-admonition-danger);
      }
    }
  }

  &.error {
    border-color: var(--pst-color-admonition-error);
    > .admonition-title {
      &:after {
        background-color: var(--pst-color-admonition-error);
      }

      &:before {
        color: var(--pst-color-admonition-error);
        content: var(--pst-icon-admonition-error);
      }
    }
  }

  &.hint {
    border-color: var(--pst-color-admonition-hint);
    > .admonition-title {
      &:after {
        background-color: var(--pst-color-admonition-hint);
      }

      &:before {
        color: var(--pst-color-admonition-hint);
        content: var(--pst-icon-admonition-hint);
      }
    }
  }

  &.tip {
    border-color: var(--pst-color-admonition-tip);
    > .admonition-title {
      &:after {
        background-color: var(--pst-color-admonition-tip);
      }

      &:before {
        color: var(--pst-color-admonition-tip);
        content: var(--pst-icon-admonition-tip);
      }
    }
  }

  &.important {
    border-color: var(--pst-color-admonition-important);
    > .admonition-title {
      &:after {
        background-color: var(--pst-color-admonition-important);
      }

      &:before {
        color: var(--pst-color-admonition-important);
        content: var(--pst-icon-admonition-important);
      }
    }
  }

  &.note {
    border-color: var(--pst-color-admonition-note);
    > .admonition-title {
      &:after {
        background-color: var(--pst-color-admonition-note);
      }

      &:before {
        color: var(--pst-color-admonition-note);
        content: var(--pst-icon-admonition-note);
      }
    }
  }
}
